<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FlexBoy 💪</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FlexBoy is a free web builder that lets you design websites easily using Tailwind CSS templates and components. Fast, responsive, and beginner-friendly.">
    <meta name="keywords" content="FlexBoy, web builder, Tailwind CSS, free website builder, HTML editor, CSS editor, drag and drop builder, Flexbox builder, Flexboy app, free templates, website templates, Tailwind components, responsive web design, web builder for beginners, custom web design, no-code website builder, free landing HTML template, landing page templates, free Tailwind landing pages, one page website builder, HTML CSS templates, portfolio templates, small business website builder, easy website builder, template editor online">
    <meta name="author" content="Harold Guzman">

    <!-- Open Graph for Facebook and social media -->
    <meta property="og:title" content="FlexBoy - Free Tailwind Website Builder">
    <meta property="og:description" content="Build responsive websites quickly with FlexBoy's Tailwind CSS templates and components. No code needed!">
    <meta property="og:image" content="img/publicimage.webp">
    <meta property="og:url" content="https://flexboy.online">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="FlexBoy - Free Tailwind Website Builder">
    <meta name="twitter:description" content="Design beautiful websites with FlexBoy's drag-and-drop Tailwind CSS components. Beginner-friendly and 100% free!">
    <meta name="twitter:image" content="img/publicimage.webp">

    
    <!-- Open Graph for Social Media Sharing -->
    <meta property="og:title" content="FlexBoy Web Builder">
    <meta property="og:description" content="Build beautiful websites faster with FlexBoy. Use Tailwind templates, drag-and-drop tools, and publish in no time.">
    <meta property="og:image" content="img/publicimage.webp">
    <meta property="og:url" content="https://flexboy.online/">
    <meta property="og:type" content="website">


<!-- Mobile & Browser Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script defer src="https://www.flexboy.online/script/flexboy_script.js" ></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



</head>
<body data-theme="dark" class="">
 
        <div class="p-[10px] w-full bg-base-300 flex flex-row px-[30px] justify-between items-center">
                <div class="text-sm font-bold"><a href="https://www.flexboy.online/">FlexBoys</a></div>
                <div class="join">
                    <a class="btn btn-sm btn-secondary" href="temp/index.html"><span class="flex flex-row gap-2 justify-center items-center" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg>
                        Preview</span></a>
                </div>
        </div>
 

    


        <!-- <section class="py-6 bg-base-200">
            <div class="container mx-auto flex flex-col items-center gap-[10px] justify-center max-w-lg p-4 lg:max-w-full sm:p-10 lg:flex-row">
                
                <div class="flex flex-col items-center justify-center w-[400px] max-[430px]:w-full max-[430px]:flex-1 p-4 pb-8 sm:p-8 bg-base-300">
                    <span class="text-sm text-base-content  font-bold">Basic</span>
                    <p class="text-5xl font-bold text-center text-secondary mb-[20px]">0$</p>
                    
                    <ul class="flex-1 mb-6 text-base-content">
                        <li class="flex mb-2 space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content text-secondary">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Access to the all pages</span>
                        </li>
                        <li class="flex mb-2 space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content text-secondary">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Includes basic components</span>
                        </li>
                        <li class="flex mb-2 space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content text-secondary">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Built with Tailwind CSS</span>
                        </li>
                    </ul>
                    <a href="flexboy_template.rar" class="px-8 py-3 mt-6 text-lg font-semibold border rounded sm:mt-12 btn btn-secondary border-secondary">Free Download</a>
                </div>

                <div class="flex flex-col items-center justify-center w-[400px] max-[430px]:w-full max-[430px]:flex-1 p-4 pb-8 text-center rounded-md sm:p-8 bg-secondary text-base-300">
                    <span class="text-sm text-base-content font-bold">Advanced</span>
                    <p class="text-5xl font-bold text-center text-base-content mb-[20px]">1$</p>
                   
                    <ul class="flex-1 space-y-2 text-base-content font-semibold">
                        <li class="flex items-center space-x-2 text-left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Full access to all pages</span>
                        </li>
                        <li class="flex items-center space-x-2 text-left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span> Smooth animations</span>
                        </li>
                        <li class="flex items-center space-x-2 text-left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Advanced components and transitions</span>
                        </li>
                        <li class="flex items-center space-x-2 text-left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Fully responsive on all devices</span>
                        </li>
                        <li class="flex items-center space-x-2 text-left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 text-base-content">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            <span>Built with Tailwind CSS</span>
                        </li>
                    </ul>

                    <button class="px-8 py-3 mt-6 text-lg font-semibold rounded sm:mt-12 bg-base-300 text-base-content">Download</button>
                </div>
            </div>
        </section> -->



                

                <section class="p-[20px] mt-[30px]">  
                    <p class="text-xs">
                        How to use Flexboy from a CDN?
                    </p>
                    <p class="mb-[20px] text-xs">

                        You don't need to install anything. Just add one of these to the head tag of your HTML:
                    </p>
                    <div class="mockup-code w-full text-xs">
                          <pre data-prefix="~"><code><span class="text-pink-400">&lt;link</span> <span class="text-yellow-300">href=</span><span class="text-green-400">"https://cdn.jsdelivr.net/npm/daisyui@5"</span> <span class="text-yellow-300">rel=</span><span class="text-green-400">"stylesheet"</span> <span class="text-yellow-300">type=</span><span class="text-green-400">"text/css"</span> <span class="text-pink-400">/&gt;</span></code></pre>
                          <pre data-prefix="~"><code><span class="text-pink-400">&lt;script</span> <span class="text-yellow-300">src=</span><span class="text-green-400">"https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"</span> <span class="text-pink-400">&gt;&lt;/script&gt;</span></code></pre>
                          <pre data-prefix="~"><code><span class="text-pink-400">&lt;link</span> <span class="text-yellow-300">href=</span><span class="text-green-400">"https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"</span> <span class="text-yellow-300">rel=</span><span class="text-green-400">"stylesheet"</span> <span class="text-yellow-300">type=</span><span class="text-green-400">"text/css"</span> <span class="text-pink-400">/&gt;</span></code></pre>
                          <pre data-prefix="~"><code><span class="text-pink-400">&lt;script</span> <span class="text-yellow-300">defer</span> <span class="text-yellow-300">src=</span><span class="text-green-400">"https://www.flexboy.online/script/flexboy_script.js"</span> <span class="text-pink-400">&gt;&lt;/script&gt;</span></code></pre>
                          <pre data-prefix="~"><code><span class="text-pink-400">&lt;script</span> <span class="text-yellow-300">defer</span> <span class="text-yellow-300">src=</span><span class="text-green-400">"https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"</span> <span class="text-pink-400">&gt;&lt;/script&gt;</span></code></pre>

                      </div>
                </section>


    



                <h1 class="text-3xl mt-[90px] px-[30px] mb-[5px] italic opacity-[.7] font-bold"> Components</h1>



                <hr class="opacity-[.3] my-[30px]">
                <section class="py-6 dark:bg-base-100 hidden">
                    <div class="container flex flex-col justify-center p-4 mx-auto">
                        <div id="compile" class="grid grid-cols-1 gap-4 lg:grid-cols-4 sm:grid-cols-2">
                        </div>
                    </div>
                </section>


                <section id="iframeStation" class="p-[20px]">  <!--- iframe ---> </section>
                 <hr class="opacity-[.3] my-[30px]">
              
              
    </div>



 
 
    <script src="system.js"></script>

    
</body>
</html>